a{
  color:#545454;
}

a.link{
  text-decoration: none;
}

a.visited{
  text-decoration: none;
}
a.active{
  text-decoration: none;
}
a.hover{
  text-decoration: underline;
}




.headinner{
  width: 1000px;
  border-top: 3px solid #333;
  border-bottom: 1px solid #e7e7e7;
  height: 112px;
  margin: 0 auto;

  }


.navul{
  margin: 0;
  pading: 0;
  list-style: none;

}

.navli{
  margin: 0;
  float: right;
  padding-right: 10px;
}



.title{
  text-align:center;
}










.topinner{
  background-color: green;
  height: 40px;
  width:1000px;
  margin: 0 auto;
}

.topday{
  text-align:center;
}

.linkul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.linkli{
  margin: 0;
  float: right;
  padding-right: 10px;
}







.content{
  width: 100%;
  height: 900px;
}

.content_inner{
  back-ground-color: #7FFFD4;
  margin: 0 auto;
  height: 800px;
  width: 1000px;
}

.content_left{
  background-color: yellow;
  width:700px;
  height: 700px;
  float:left;
}
.content_category{
  width: 200px;
  height: 500px;
  background-color: white;
  float: left;
}

.content_topic{
  width: 300px;
  height: 600px;
  background-color: #FF8C00;
  float:left;
}

.content_ranking{
  width: 200px;
  height: 500px;
  background-color:#FF69B4;
  float:left;
}

.content_right{
  width: 300px;
  height: 700px;
  float: left;
  background-color: #C0C0C0;
}







.footerinner{
  width: 100%;
}

.footerlist{
  width: 1000px;
  height:50px;
  margin: 0 auto;
}

.footerul{
  margin: 0;
  padding:0;
  list-style: none;
}

.footerli{
  margin: 20px 0;
  float: left;
  padding-right: 10px;
}

.footercopy{
  float: right;
}


.clearfix:after{
  content:"";
  clear: both;
  display: block;
}





