%footer
  .footerinner
    .footerlist
      %ul.footerul
        %li{class: "footerli"}
          会社概要
        %li{class: "footerli"}
          利用規約
        %li{class: "footerli"}
          プライバシー
        %li{class: "footerli"}
          ヘルプ
        %li{class: "footerli"}
          NEVERまとめ公式ブログ
      %p.footercopy
        %small
          %b LINE Cprporation
